.dropdownWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background-color: rgb(25, 41, 59);
    height: 25px;
    width: fit-content;
    border-radius: 5px;
    outline: none;
    padding: 0 0.25rem;
    font-family: "Noto Sans", sans-serif;

    .modelName {
        font-size: 0.75rem;
        color: #cdcdcd;
        text-wrap: none;
        white-space: nowrap;
    }
}