.buttonWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	max-width: 60px;
	height: 25px;
	user-select: none;
}

.customButton {
	position: relative;
	background: none;
	outline: none;
	height: 100%;
	width: 100%;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	margin: 0 0.15rem;
	transition: 0.25s ease-in-out;
	padding: 0.25rem;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: rgba(255, 255, 255, 0.15);
	}

	svg {
		height: 16px;
		width: 16px;
		color: #b6b6b6;
	}
}

.buttonText {
	font-size: 0.875rem;
	color: #8c8c8c;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.1rem;
	cursor: default;

	svg {
		height: 38px;
		width: 38px;
		color: #8c8c8c;
	}
}